[Unit]
Description=Imx API                      
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/npm start --prefix /var/www/imx
Restart=always
KillSignal=SIGINT
User=www-data

[Install]
WantedBy=multi-user.target